
<mat-toolbar color="primary">

    <div>
        <button mat-raised-button (click)="onToggleOpenSidenav()" color="accent" >
            <mat-icon>menu</mat-icon>       
        </button>
    </div>
    
    <div class="logo-container">
        <div>
            <a mat-list-item routerLink="/home" >
                <img src="/assets/img/agri-tech.png" alt="" width="50" height="50" >
            </a>
        </div>
    </div>
    
    <div fxLayout='column' fxLayoutAlign='center end' color="accent">
        <p>AGRI - CHAIN</p> 
    </div>
   
</mat-toolbar>
