<!-- <router-outlet></router-outlet> -->


<div class="home-container">

    <!-- Toolbar goes here -->
    <mat-toolbar color="primary">
        
        <div class="logo-container">
            <div>
                <a mat-list-item routerLink="/home" >
                    <img src="/assets/img/agri-tech.png" alt="" width="100" height="100" >
                </a>
            </div>
        </div>
        
            <div fxLayout='column' fxLayoutAlign='center center' color="accent">
                <p> WELCOME TO AGRI - CHAIN</p> 
            </div>
        
    </mat-toolbar>

    <!-- Home content goes here -->
    <div class="home-content">
      <button mat-raised-button  color="accent" routerLink="/auth">
        Get Started
      </button>
      <br>
      <br> 
      <br>
      <!-- image carousel slider -->

      
      <!-- image carousel slider end -->
        
        <mat-card>
          <h1>Who we are</h1>
          <p> 
            We are a legally registered national  association  of growers, exporters and other value-chain  players in Kenya. 
            We also welcome international individual and  corporate memberships.
          </p>
          <br>
        </mat-card>
        <br>
        <mat-card>
          <h1>What We Do </h1>
          <p> 
            Working in partnership with public and private stakeholders, to provide innovative value-chain services that  influence the transformation of  agriculture, 
            empower members  and specifically small- holders to provide provenance in response to market demands for improved livelihoods.
        
          </p>
          <br>
        </mat-card>
        <br>
        
   
          
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Our Partners 
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                  <mat-card>
                    KENYA PLANT HEALTH INSPECTORATE SERVICE (KEPHIS)
                    <br>
                    <img src="/assets/img/kephis.jpeg" alt="" width="50" height="50" >
                    
                  </mat-card>
                  <mat-card>
                    KENYA AGRICULTURAL & LIVESTOCK RESEARCH ORGANIZATION (KALRO)
                    <br>
                    <img src="/assets/img/kalro.png" alt="" width="80" height="50" >
                  </mat-card>
                  <mat-card>
                    AGRICULTURAL FOOD AUTHORITY (AFA)
                    <br>
                    <img src="/assets/img/afa.jfif" alt="" width="50" height="50" >
                    <br>
                  </mat-card>
                  <mat-card>
                    TECHNO BRAIN
                    <br>
                    <br>
                    <br>
                    <img src="/assets/img/techno-brain-logo.gif" alt="" width="150" height="50" >
                    <br>
                  </mat-card>
                  <mat-card>
                    AVOCADO SOCIETY OF KENYA
                    <br>
                    <img src="/assets/img/avocado society logo.png" alt="" width="100" height="50" >
                    <br>
                  </mat-card>
                  <mat-card>
                    KENYA EXPORT PROMOTION AND BRANDING AGENCY (KEPROBA)
                    <br>
                    <br>
                    <img src="/assets/img/Keproba.png" alt="" width="250" height="50" >
                    <br>
                  </mat-card>                 
                </mat-panel-description>
              </mat-expansion-panel>
        
        <br>
        <br> 
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Contact us
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  
                    <mat-card >
                      <h3>Telephone Numbers</h3> 
                      <!-- <p>| 0722 406 941 | 0722 457 388 </p> 
                      <p>| 0733 274 526 | 0733 917 964 </p> -->
                    </mat-card>
                    <br>
                    <br>
                    <mat-card>
                      <h3>Physical Office Address</h3>
                      <!-- <p>P.O. Box 12898-00400</p>
                      <p>Nairobi, Kenya</p> -->
                    </mat-card>
                    <br>
                    <br>
                    <mat-card>
                      <h3>Emails & Website</h3>
<!--                       
                      <p>info@kenyaavocados.co.ke</p>
                      
                      <p>www.kenyaavocados.co.ke</p> -->
                    </mat-card>
                   
              </mat-expansion-panel>
     
    </div>
</div>