.home-container{
    height: 100%;
    background-image: url(/src/assets/img/avo.png);
}
.home-content{ 
    margin: 15x;
    padding-top: 20px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    /* background-image: url(/src/assets/img/avofarm1.jpg); */
    height: 100%;
}
button{
    padding-left: 40px;
    padding-right: 40px;
    position: static;
    float: right;
    margin-left:25px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

