<div class="navtabs-container" color="accent">
    
    <nav mat-tab-nav-bar mat-tab-nav-bar fxFlex fxLayout='column' fxLayoutAlign='center center' color="accent">

        <a mat-tab-link 
            routerLinkActive #home ="routerLinkActive"
            [active]="home.isActive">
            Check In
        </a>

        <a mat-tab-link 
            routerLinkActive #accomodation ="routerLinkActive"
            [active]="accomodation.isActive">
            Dispatch
        </a>
    </nav>

</div>